body{
    background-color: darkgray;
    min-width: 400px;
    max-width: 800px;
    text-align: justify;
    background-color: var(--cor0);
    font-family: var(--font1);
    text-align: justify;
   
}

:root{
    --cor0: #c5ebd6
    --font1: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    background-color: white;
    border: solid black 2px;
    height: 100px;
    margin-bottom: 3px;
    text-align: center;
}

nav{
    background-color: white;
    border: solid black 2px;
    text-align: right;
}

.artigo{
    background-color: white;
    border: solid black 2px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding: 10px;
   
}

.outroartigo{
    background-color: white;
    border: solid black 2px;
    padding: 15px;
}

footer{
    background-color: white;
    border: solid black 2px;
    margin-top: 6px;
}

.imagem{
    width: 360px; 
}



h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: darkblue;
    background-color: red;
}


